body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 100px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #4caf50;
}

input {
  padding: 5px;
  width: 50px;
  text-align: center;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

p {
  font-size: 1rem;
}
